.conteinerEditarPersona {
    width: 300px; 
    margin: auto; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px; 
  }
  
  .conteinerEditarPersona form {
    display: flex;
    flex-direction: column;
  }
  
  .conteinerEditarPersona label {
    margin-bottom: 5px;
  }
  
  .conteinerEditarPersona input {
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-left: 10px; 
  }
  
  .conteinerEditarPersona input:focus {
    border-bottom-color: #4CAF50;
  }
  
  .conteinerEditarPersona button {
    padding: 10px;
    background-color: #4CAF50; 
    color: #fff; 
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  
  .conteinerEditarPersona button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
  }
  